* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background: #fff;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.06);
}

.headerTop {
  display: flex;
  width: 1250px;
  margin: auto;
  align-items: center;
  gap: 100px;
}

.headerLogo {
  display: block;
}

.headerLogo img {
  width: 150px;
  height: 55px;
}

.headerNav {
  display: block;
}

.headerNav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.headerNav ul li {
  padding: 45px 0px;
  position: relative;
}

.headerNav ul li a {
  text-decoration: none;
  color: #101130;
  font-size: 16px;
  font-weight: 600;
}

.headerNav ul li::after {
  position: absolute;
  background-image: linear-gradient(to left, #7114ef, #1475f7);
  height: 5px;
  width: 0%;
  content: "";
  transition: 0.6s;
  left: 0;
  bottom: 0;
}

.headerNav ul li:first-child::after {
  width: 100%;
}

.headerNav ul li:hover::after {
  width: 100%;
}

.navToggle {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.sideNav {
  display: block;
  position: fixed;
  width: 0px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 0;
  left: 0;
  padding-top: 60px;
  transition: 0.3s;
  overflow: hidden;
}

.sideNavLogo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.sideNavLogo img {
  width: 150px;
  height: 55px;
}

.sideNav ul {
  list-style: none;
  padding: 0;
}

.sideNav ul li {
  padding: 15px 20px;
}

.sideNav ul li a {
  text-decoration: none;
  color: #101130;
  font-size: 16px;
  font-weight: 600;
}

.imagebox {
  display: block;
}

.imagebox span {
  display: block;
  width: 100%;
  position: relative;
}

.overlay {
  background-image: url(../img/h2-bg-slider1-overlay.png);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 99;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagebox span img {
  width: 100%;
}

.imagebox span .imageboxText {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.imagebox span .imageboxText .imageboxData {
  width: 1250px;
  margin: auto;
}

.imageboxData h2 {
  font-size: 21px;
  color: #1475f7;
  background-color: #fff;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
}

.imageboxData h3 {
  font-size: 70px;
  color: #fff;
  margin-top: 20px;
}

.imageboxData p {
  font-size: 21px;
  color: #fff;
  margin-top: 20px;
  line-height: 28px;
}

.imageboxData a {
  background: #1475f7;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 50px;
  display: inline-block;
  text-decoration: none;
  margin-top: 25px;
  border-radius: 25px;
}

.imagebox .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

.imagebox .owl-nav .owl-prev span {
  border: solid 1px #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 36px;
}

.imagebox .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

.imagebox .owl-nav .owl-next span {
  border: solid 1px #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 36px;
}

@media screen and (min-device-width: 992px) and (max-device-width: 1249px) {
  .headerTop {
    width: 100%;
  }
  .imagebox span .imageboxText .imageboxData {
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
  }

  .imagebox span {
    height: 600px;
  }

  .imagebox span img {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .headerTop {
    width: 100%;
    padding: 15px 10px;
  }

  .headerNav {
    display: none;
  }
  .navToggle {
    display: block;
    margin-left: auto;
  }

  .headerLogo {
    margin-left: -40px;
  }
  .imagebox span {
    height: 600px;
  }
  .imagebox span img {
    height: 100%;
    object-fit: cover;
  }
  .imagebox span .imageboxText .imageboxData {
    margin: auto;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
  }
}

@media screen and (min-device-width: 511px) and (max-device-width: 767px) {
  .headerTop {
    width: 100%;
    padding: 15px 10px;
  }

  .headerNav {
    display: none;
  }
  .navToggle {
    display: block;
    margin-left: auto;
  }

  .headerLogo {
    margin-left: -40px;
  }

  .headerLogo img {
    width: 130px;
    height: 40px;
  }
  .imagebox span {
    height: 600px;
  }
  .imagebox span img {
    height: 100%;
    object-fit: cover;
  }
  .imagebox span .imageboxText .imageboxData {
    margin: auto;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
  }
  .imagebox .owl-nav {
    display: none;
  }
}

@media screen and (min-device-width: 428px) and (max-device-width: 510px) {
  .headerTop {
    width: 100%;
    padding: 15px 10px;
  }

  .headerNav {
    display: none;
  }
  .navToggle {
    display: block;
    margin-left: auto;
  }

  .headerLogo {
    margin-left: -40px;
  }

  .headerLogo img {
    width: 130px;
    height: 40px;
  }
  .imagebox span {
    height: 450px;
  }
  .imagebox span img {
    height: 100%;
    object-fit: cover;
  }
  .imagebox span .imageboxText .imageboxData {
    margin: auto;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
  }
  .imagebox span .imageboxText .imageboxData h3 {
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
  }
  .imagebox span .imageboxText .imageboxData p {
    font-size: 17px;
  }
  .imagebox .owl-nav {
    display: none;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 427px) {
  .headerTop {
    width: 100%;
    padding: 15px 10px;
  }

  .headerNav {
    display: none;
  }
  .navToggle {
    display: block;
    margin-left: auto;
  }

  .headerLogo {
    margin-left: -40px;
  }

  .headerLogo img {
    width: 130px;
    height: 40px;
  }
  .imagebox span {
    height: 400px;
  }
  .imagebox span img {
    height: 100%;
    object-fit: cover;
  }
  .imagebox span .imageboxText .imageboxData {
    margin: auto;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
  }
  .imagebox span .imageboxText .imageboxData h2 {
    font-size: 16px;
  }
  .imagebox span .imageboxText .imageboxData h3 {
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
  }
  .imagebox span .imageboxText .imageboxData p {
    font-size: 14px;
  }
  .imagebox .owl-nav {
    display: none;
  }
}
